<div class="mx-auto max-w-2xl container">
  <div class="py-3 text-center">
    <h1 class="text-3xl font-bold text-sky-300">Automatic Stars for a Review</h1>
    <p class="py-2 text-sky-300 text-left">You can use the text box below to generate an automatic star rating for thereview you enter into the text box.</p>
  </div>

  <div class="text-center">
    <textarea id="review-text" class="rounded border-sky-600 focus:border-sky-600 border-2 w-full"></textarea>
  </div>

  <div>
    <div id="stars" class="text-sky-300">&#9734;&#9734;&#9734;&#9734;&#9734;</div>
  </div>
</div>
