<div class="mx-auto max-w-2xl container">
  <div class="py-3 text-center">
    <h1 class="text-3xl font-bold text-sky-300">Suggest a rating based on a review</h1>
    <p class="py-2 text-sky-300 text-left">This demo application takes a rewview and based on the results suggests what the star rating should be. Enter or paste the review in the text box below to see what the relative star rating is.</p>
  </div>

  <div class="text-center">
    <textarea id="review-text" class="rounded border-sky-600 focus:border-sky-600 border-2 w-full"></textarea>
  </div>

  <div>
    <div id="stars" class="text-sky-300">&#9734;&#9734;&#9734;&#9734;&#9734;</div>
  </div>
</div>
